---
WarningsAsErrors: "*"
UseColor: true
Checks:
  - -*
  - clang-analyzer-*
  - bugprone-*
  - concurrency-*
  - cppcoreguidelines-*
  - -cppcoreguidelines-avoid-magic-numbers
  - -cppcoreguidelines-pro-bounds-pointer-arithmetic
  - -cppcoreguidelines-pro-type-reinterpret-cast
  - hicpp-*
  - modernize-*
  - -modernize-use-trailing-return-type
  - performance-*
  - portability-*
  - readability-*
  - -readability-function-cognitive-complexity
  - -readability-identifier-length
  - -readability-magic-numbers

CheckOptions:
  # See discussion at https://stackoverflow.com/a/58845898/23649 & https://stackoverflow.com/a/78343833/23649
  hicpp-signed-bitwise.IgnorePositiveIntegerLiterals: true
